.wrapper {
    width: 90%;
    display: grid;
    border-style: solid;
    /* horizontal align */
    justify-content: center;
    /* vertical align */
    align-content: center;
    text-align: center;
    /* padding: 10px; */

    /* grid-auto-rows: 100px; */

    /* grid-template-columns: 33% 33% 33%; */
    /* two arguments for repeat: number of oclumns, width or column */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 200px 200px; */
    /* grid-template-rows: repeat(3, 200px); */
    column-gap: 10px;
    row-gap: 10px;
    /* when I have more objects than my template accounts for, do I want to overflow to rows or columns? */
    grid-auto-flow: row;
}

#item1 {
    grid-column-start: 1;
    grid-column-end: 4;
}
#maxwidth {
    max-width: 100%;
}

#item2 {
    grid-row-start: 2;
    grid-row-end: 4;
}
