p {
    text-align: center;
}
figcaption {
    text-align: center;
}
h1 {
    text-align: center;
}
table {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    box-shadow: 0 0 20px gray;
    margin-top: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
td,
th {
    width: 25%;
}
thead tr {
    background-color: lightskyblue;
    color: grey;
    text-align: left;
}

tbody tr {
    border-bottom: 1px solid lightsteelblue;
}
img {
    display: block;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 30px;
    box-shadow: 0 0 20px gray;
}

.giveSpace {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}
