.inputItem {
    margin-top: 20px;
    margin-left: 20px;
}

/* .btn-primary,
.btn-primary:hover {
    background-color: aqua !important;

} */

h1 {
    display: inline-block;
}
.removePage {
    display: none;
}

button {
    margin-left: auto;
    margin-right: auto;
    margin: 30px !important;
}
#centerAlign {
    text-align: center;
}
img {
    max-width: 90%;
}
