.flexItem {
    width: 300px;
    height: 300px;
}
.item1 {
    background-color: Red;
}
.item2 {
    background-color: green;
}
.item3 {
    background-color: blue;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}


.flex-center{
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.space-around{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}
.center-reverse{
    display: flex;
    flex-direction: row;
    justify-content: row-reverse; 
}

.colum{
    display:flex;
    flex-direction: column;
    justify-content: center;
}


.colum{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

